/*
.Menu {
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: start;
  background: grey;
}
*/


.Menu {
	/*
    height: 400px;
    width: 800px;
    background: grey;
    */
}

.Button {
  text-align: start;
}

.DragAndResize {
	/*
    height: 100px;
    width: 100px;
    */
    background: lightgreen;
    
}

.DragHandle {
	
    height: 10px;
    width: 10px;
    margin: auto;
    
    background: red;
    
}

