
.Menu {
  width: 800px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  text-align: start;
  /*background: grey;*/
}


.Button {
  text-align: start;
  width: 360px;
  padding: 4px;
  margin-top: 6px;
  margin-right: 18px;
  font: 1.0em "Fira Sans", sans-serif;

}

/*
.DragAndResize {
    height: 100px;
    width: 100px;
    background: black;
}
*/
.DragHandle {
    height: 40px;
    width: 40px;
    margin: auto;
    background: green;
}

